/* st.css */

* {
	font-family: 'Bahnschrift', sans-serif;
}
body {
	line-height: 1.38;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bahnschrift', sans-serif;
}
h1 {
	font-size: 1.2em;
}
h1.page-title {
	color: red;
	font-weight: bold;
}
h4 {
	font-size: 0.8em;
}
.st-page {
	margin: 0;
	padding: 0;
	position: relative;	
}
.st-page-bk {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.st-canvas {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.st-page-img {
	opacity: 80%;
	height: 100%;
	width: 100%;
}
.st-title {
	background: #c2c2c2;
	font-size: 20px;
	font-style:italic;
	font-weight: bold;
	position: absolute;
	margin: 0;
	padding: 0 10px 0 10px;
	top: 0px;
	left: 0;
	height: 30px;
	width: 100%;
	display: inline-block;
}
.st-actions {
	font-size: 10px;
	margin: 0;
	position: absolute;
	padding: 0;
	top: 0px;
	margin-top:4px;
	right: 10px;
	height: 10px;
}
.st-footer {
	background: #c2c2c2;
	font-weight: bold;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0px;
	left: 0;
	height: 20px;
}
.st-footer h4 {
	margin: 0;
	padding: 4px;
}
.st-footer a {
	font-style: italic;
}